*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --colorPrimary: #142850;
  --colorSecondary: #27496d;
  --colorAncent: #0c7b93;
  --colorText: #00a8cc;
  --colorLove: #f0134d;
  --colorHeader: #ffa41b;
  --colorSocial: rgba(39, 73, 109, 0.5);
}

body {
  background: var(--colorPrimary);
  color: var(--colorText);
  font-family: verdana;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header {
  position: absolute;
  top:0;
  background-color: var(--colorSecondary);
  color: var(--colorHeader);
  padding: 10px 25px;
  border-radius: 0 0 5px 5px;
}

/* start main css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 70vh;
}

.alert {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 310px;
  font-size: 10pt;
  position: relative;
  transition: opacity .5s linear;
}

.alert::before {
  position: absolute;
  content: '!';
  top: 0;
  left: 0;
  height: inherit;
  padding: inherit;
  font-weight: bold;
  font-size: 10pt;
  color: white;
}

.alert::after {
  position: absolute;
  content: '';
  top: -20px;
  right: -60px;
  transform: scale(0);
  transition: transform .15s linear;
  background: white;
  padding: 3px;
  font-size: 9pt;
}

.alert__action {
  cursor: pointer;
  font-weight: bold;
  opacity: .5;
  position: absolute;
  right: 2.5%;
  top: 5%;
}

.alert__action:hover{
  opacity: 1;
}

.alert--success {
  background: #dff0d8;
  color: green;
}

.alert--success::before {
  background: green;
}

.alert--success:hover::after {
  content: 'Success';
  transform: scale(1);
  color: green;
}

.alert--info {
  background: #d9edf7;
  color: blue;
}

.alert--info::before {
  background: blue;
}

.alert--info:hover::after {
  content: 'Info';
  transform: scale(1);
  color: blue;
  right: -35px;
}

.alert--warning {
  background: #fcf8e3;
  color: orange;
}

.alert--warning::before {
  background: orange;
}

.alert--warning:hover::after {
  content: 'Warning';
  transform: scale(1);
  color: orange;
}

.alert--danger {
  background: #f2dede;
  color: red;
}

.alert--danger::before {
  background: red;
}

.alert--danger:hover::after {
  content: 'Danger';
  transform: scale(1);
  color: red;
  right: -55px;
}


/* end main css */
.sidebar-right {
  position: fixed;
  right: 0;
  bottom: 50%;
  transform: translateY(50%);
  padding: 0 0 0 10px;
}

.close {
  display: none;
}

.social-container {
  position: absolute;
  padding: 0 15px;
  border-radius: 5px;
  top: -250%;
  right: -250%;
  opacity: 0;
  transform: scale(.5);
  transition: .5s ease;
  background-color: var(--colorSocial);
}

.social-container > .social-item {
  margin: 15px 0;
}

.social-link {
  padding: 5px;
  background-color: var(--colorText);
  display: flex;
  align-items: center;
  border-radius: 5px;
  transition: .25s linear;
}

.social-link:hover{
  transform: translateX(-10px);
  border: 1.5px solid var(--colorHeader);
}

.social-link:focus {
  background-color: var(--colorHeader)
}

.icon {
  width: 25px;
}

button.social {
  padding: 5px;
  border-radius: 3px 0 0 3px;
  border: none;
  cursor: pointer;
  color: var(--colorHeader);
  background-color: var(--colorSecondary);
  font-weight: 900;
}

button.social.active {
  transform: rotate(180deg);
  border-radius: 0 3px 3px 0;
}

.social-container.open {
  opacity: 1;
  transform: scale(1);
  right: 100%;
}


footer {
  position: fixed;
  bottom: 0;
  background-color: var(--colorSecondary);
  color: var(--colorHeader);
  padding: 10px 25px;
  border-radius: 5px 5px 0 0;
  font-size: 10pt;
}

.text-one {
  margin-right: 5px;
}

.text-two {
  margin-left: 22px;
}

.author {
  color: gold;
}

.love {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--colorLove);
  transform: rotate(45deg);
  margin-top: 5px;
}

.love::after, .love::before {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  background-color: var(--colorLove);
  border-radius: 50%;
}

.love::after {
  top: -8px;
  left: 0;
}

.love::before {
  top: 0;
  left: -8px;
}
